<% layout('/layout/boilerplate') %>
    <div class="card my-5 w-75">
        <img src="/assets/images/icon-thank-you.svg" class="img-fluid mx-auto" style="width: 80px;">

        <div class="card-body">
            <h1 class="card-title text-center">Thank you</h1>

            <p class="card-text text-center text-muted">Thanks for confirming your subscription! We hope you have fun
                using our
                platform. If
                you
                ever need support, please feel free to email us at support@loremgaming.com.</p>
        </div>
    </div>
    <script src="forth.js">

    </script>