<link rel="stylesheet" href="style.css">
<nav class="navbar-nav d-flex flex-lg-column flex-row justify-content-center justify-content-lg-start">

    <div class="d-flex flex-md-row mt-3 pe-3 ps-md-4">
        <div class="circleDiv d-flex align-items-center mt-0 mt-md-1" id="first">
            <div class="">1</div>
        </div>
        <div class="step px-3 d-none d-md-flex flex-column">
            <div class="h-50 py-0 my-0 ">
                <p class="mt-0 p-0 stepOne">STEP 1</p>
            </div>
            <div class="h-50 d-none d-md-inline">
                <p class="m-0 p-0 info">YOUR INFO</p>
            </div>

        </div>
    </div>
    <div class="d-flex flex-md-row mt-3 pe-3 ps-md-4">
        <div class="circleDiv d-flex align-items-center mt-md-1" id="second">
            <div class="">2</div>
        </div>
        <div class="step px-3 d-none d-md-flex flex-column">
            <div class="h-50 py-0 my-0 ">
                <p class="mt-0 p-0 stepOne">STEP 2</p>
            </div>
            <div class="h-50 d-none d-md-inline">
                <p class="m-0 p-0 info">SELECT PLAN</p>
            </div>

        </div>
    </div>
    <div class="d-flex flex-md-row mt-3 pe-3 ps-md-4">
        <div class="circleDiv d-flex align-items-center mt-md-1" id="third">
            <div class="">3</div>
        </div>
        <div class="step px-3 d-none d-md-flex flex-column">
            <div class="h-50 py-0 my-0 ">
                <p class="mt-0 p-0 stepOne">STEP 3</p>
            </div>
            <div class="h-50 d-none d-md-inline">
                <p class="m-0 p-0 info">ADD-ONS</p>
            </div>

        </div>
    </div>
    <div class="d-flex flex-row mt-3 ps-md-4">
        <div class="circleDiv d-flex align-items-center mt-md-1" id="forth">
            <div class="">4</div>
        </div>
        <div class="step px-3 d-none d-md-flex flex-column">
            <div class="h-50 py-0 my-0 ">
                <p class="mt-0 p-0 stepOne">STEP 4</p>
            </div>
            <div class="h-50  d-none d-md-inline">
                <p class="m-0 p-0 info">SUMMARY</p>
            </div>

        </div>
    </div>

</nav>